extends ../templates/layout

block content

        div 
            h3 Listado de todos los Vehiculos
            a(href="/vehiculos/add") Añadir un vehiculo nuevo
            a(href="/vehiculos/marcas") Filtrar por marcas
            table(border=1)
                thead 
                    tr
                        th ID
                        th Marca 
                        th Modelo
                        th Año
                        th Precio
                        th Combustible
                        th Borrar 
                        th Editar
                tbody 
                    each vehiculo in vehiculos
                        tr 
                            td=vehiculo.ID_Vehiculo
                            td=vehiculo.Marca                       
                            td=vehiculo.Modelo
                            td=vehiculo.Anno
                            td=vehiculo.Precio
                            td=vehiculo.Combustible
                            td
                                a.del(href=`/vehiculos/del/${vehiculo.ID_Vehiculo}`) borrar 
                            td 
                                a.edit(href=`/vehiculos/edit/${vehiculo.ID_Vehiculo}`) editar 
                