extends ../templates/layout

block content

        div 
            h3 Listado de clientes
            a(href="/clientes/add") Añadir un cliente nuevo
            table(border=1)
                thead 
                    tr
                        th ID
                        th Nombre 
                        th Telefono
                        th Direccion
                        th Borrar 
                        th Editar
                tbody 
                    each cliente in clientes
                        tr 
                            td=cliente.ID_Cliente
                            td=cliente.Nombre                        
                            td=cliente.Telefono
                            td=cliente.Direccion
                            td 
                                a.del(href=`/clientes/del/${cliente.ID_Cliente}`) borrar 
                            td 
                                a.edit(href=`/clientes/edit/${cliente.ID_Cliente}`) editar 